DATABASE_URL="postgresql://postgres:ferris@localhost:5432"
DEFAULT_ADMIN_USERNAME="demo"
DEFAULT_ADMIN_TOKEN="token"

MAF_CLI_SERVER_URL="http://localhost:1147"
MAF_CLI_TOKEN="token"

AUTH_REDIRECT_URL="https://localhost:1147"
FRONTEND_URL="http://localhost:5173/~"
GOOGLE_CLIENT_ID="your_google_client_id"
GOOGLE_CLIENT_SECRET="your_google_client_secret"